@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-xs-normal-mono {
    @apply text-xs font-mono font-normal;
  }
  .text-semibold-sans {
    @apply font-semibold font-sans;
  }
  .text-base-normal-sans {
    @apply text-base font-normal font-sans;
  }
  .text-base-normal-mono {
    @apply font-normal font-mono text-base;
  }
}


@font-face {
  font-family: "WorkSans-Regular";
  src: url("../stories/assets/_fonts/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("../stories/assets/_fonts/SpaceMono-Regular.ttf") format("ttf");
}

:root {
  --font-work-sans: "WorkSans-Regular", sans-serif;
  --font-space-mono: "SpaceMono-Regular", sans-serif;
}
