@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSans-Regular";
  src: url("../assets/fonts/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("ttf");
}

@layer base {
  body:has(dialog[open]),
  body:has(.menu-mobile-open) {
    overflow: hidden;
  }
}

:root {
  --font-work-sans: "WorkSans-Regular", sans-serif;
  --font-space-mono: "SpaceMono-Regular", sans-serif;
}

.custom-animation-scale {
  @apply hover:scale-95 ease-in duration-200;
}
