@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body:has(dialog[open]),
  body:has(.menu-mobile-open) {
    overflow: hidden;
  }
}

.custom-animation-scale {
  @apply lg:hover:scale-95 active:scale-95 focus:scale-95 ease-in duration-200;
}
